img{
    width: 500px;
    
    }
body{
    background-image: url("https://vignette.wikia.nocookie.net/spongebob/images/0/04/20%2C000_Patties_Under_the_Sea_03.png/revision/latest?cb=20131018152504");
    background-size: 90%;
    margin:0px;
    }